LOG_LEVEL=info
KAFKA_URL=localhost:9094
KAFKA_TOPIC=case-email-outbound
WKS_CASE_API_URL=http://localhost:8091
JWT_TOKEN_URL=http://localhost:8092/realms/localhost/protocol/openid-connect/token
JWT_TOKEN_CLIENT_ID=wks-email-to-case
JWT_TOKEN_CLIENT_SECRET=replaceme
JWT_TOKEN_GRANT_TYPE=client_credentials