build/
node_modules/
internals/generators/
internals/scripts/
package-lock.json
yarn.lock
package.json
dist
public/**/*.min.js
public/**/*.min.css
public/**/*.css
public/**/**/**/*.js
src/components/data-tables/ProductionNorms.js
src\services\DataService.js
src\components\data-tables\Reports-kendo\ProductionVolumeDataBasisPe.js
src\components\data-tables\Reports-kendo\NormsHistorianBasisPe.js